*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  background: #14263A;
  color: #E0EDF4;
  line-height: 1.6;
}
